<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raspberry Pi Camera Control</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Raspberry Pi Camera Control</h1>
    <div class="container">
        <div class="video-container">
            <img src="{{ url_for('video_feed') }}" width="640">
        </div>
        <div class="camera-properties">
            <p>Model: {{ model }}</p>
            <p>Pixel Array Size: {{ pixel_array_size }}</p>
        </div>
        <div class="controls-container">
            <h2>Controls</h2>
            <div class="control">
                <label for="gain">Gain</label>
                <input type="range" id="gain" name="gain" min="0" max="100" value="{{ gain }}">
                <span id="gain_value">{{ gain }}</span>
            </div>
            <div class="control">
                <label for="exposure">Exposure</label>
                <select id="exposure_select" name="exposure">
                    {% for time in exposure_times %}
                        <option value="{{ loop.index0 }}" {{ 'selected' if loop.index0 == exposure_index else '' }}>
                            {% if time == 1000000 %}
                                1s
                            {% else %}
                                1/{{ "%.0f"|format(1000000 / time) }}s
                            {% endif %}
                        </option>
                    {% endfor %}
                </select>

            </div>
            <div class="control">
                <label for="brightness">Brightness</label>
                <input type="range" id="brightness" name="brightness" min="0" max="100" value="{{ brightness }}">
                <span id="brightness_value">{{ brightness }}</span>
            </div>
            <div class="control">
                <label for="contrast">Contrast</label>
                <input type="range" id="contrast" name="contrast" min="0" max="100" value="{{ contrast }}">
                <span id="contrast_value">{{ contrast }}</span>
            </div>
            <div class="control">
                <label for="sharpness">Sharpness</label>
                <input type="range" id="sharpness" name="sharpness" min="0" max="100" value="{{ sharpness }}">
                <span id="sharpness_value">{{ sharpness }}</span>
            </div>

            <div class="control">
                <button id="capture_raw_button">Capture Raw Image</button>
            </div>
        </div>
    </div>
    <script src="/static/main.js"></script>
    <footer>
        <p>Copyright 2025, Mark VandeWettering &lt;mvandewettering@gmail.com&gt;</p>
    </footer>
</body>
</html>
